.halaman-menu,
.halaman-menu * {
  box-sizing: border-box;
}
.halaman-menu {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 10px;
}

.frame-tittle-menu {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tittle-menu {
  color: #000000;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.4;
}

.list {
  padding: 0px 40px 40px 40px;
  display: grid;
  gap: 50px;
  row-gap: 30px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
}

.card {
  background: #ebc676;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffd780
}
.card-title {
  color: #000000;
  font-family: "Gloock-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.card-desc {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  flex: 1;
}

.card-more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.more-button {
  color: #000000;
  font-family: "Gloock-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease;
}
.more-button:hover {
  color: #0056b3; /* Ubah warna teks saat hover */
}
.arrow-icon {
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
  transition: transform 0.3s ease;
}
.card:hover .arrow-icon {
  transform: translateX(5px); /* Ikon panah bergerak saat hover */
}
.arrow-icon {
  width: 29px;
  height: 29px;
  
}
@media (max-width: 1200px) {
  .list {
    grid-template-columns: 1fr;
    row-gap: 30px;
    gap: 30px;
    padding: 0px 30px 30px 30px;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .card {
    width: 100%;
  }
  .tittle-menu {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .frame-tittle-menu {
    padding: 20px 10px;
  }
  .list {
    padding: 0px 20px 20px 20px;
    gap: 20px;
  }
  .card {
    padding: 10px;
    font-size: 16px;
    height: auto;
  }
  .tittle-menu {
    font-size: 18px;
  }
  .card-title {
    font-size: 24px;
  }
  .card-desc {
    font-size: 16px;
  }
}