.page-container,
.page-container * {
  box-sizing: border-box;
}
.page-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 331px;
  position: relative;
  overflow: hidden;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 128px;
  font-weight: 700;
  position: relative;
}
.content-section {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.section-title {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}

.section-text {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.section-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.feature-list {
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
}
.action-button {
  background: #0a1d69;
  border-radius: 50px;
  padding: 8px 32px 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: 40px auto 0 auto;
}
.btn-back {
  color: #ffffff;
  text-align: justify;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}