.halaman-edukasi-tunalaras,
.halaman-edukasi-tunalaras * {
  box-sizing: border-box;
}
.halaman-edukasi-tunalaras {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.edukasi {
  color: #0a1d69;
}
.tunalaras-hero-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 331px;
  position: relative;
  overflow: hidden;
}
.tunalaras {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 128px;
  font-weight: 700;
  position: relative;
}
.frame-definisi-tunalaras {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.definisi-tunalaras {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}
.frame-definisi-tunalaras-jelas {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.definisi-tunalaras-jelas {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-tantangan-tunalaras {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.tantangan-tunalaras {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}
.frame-tantangan-tunalaras-jelas {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.tantangan-tunalaras-jelas {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.tantangan-tunalaras-jelas-span {
  font-family: "Inter-Regular", sans-serif;
}
.tantangan-tunalaras-jelas-span2 {
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.tantangan-tunalaras-jelas-span3 {
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
}
.frame-dukungan-tunalaras {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dukungan-tunalaras {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}
.frame-dukungan-tunalaras-jelas {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.dukungan-tunalaras-jelas {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.dukungan-tunalaras-jelas-span {
  font-family: "Inter-Regular", sans-serif;
}
.dukungan-tunalaras-jelas-span2 {
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.dukungan-tunalaras-jelas-span3 {
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
}
.tombol-kembali {
  background: #0a1d69;
  border-radius: 50px;
  padding: 8px 32px 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.kembali {
  color: #ffffff;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
